*{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    position: relative;
}
header > img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
header > img:nth-child(4){
    animation: slider 20s linear 0s infinite;
}
header > img:nth-child(3){
    animation: slider 20s linear 5s infinite;
}
header > img:nth-child(2){
    animation: slider 20s linear 10s infinite;
}
header > img:nth-child(1){
    animation: slider 20s linear 15s infinite;
}
@keyframes slider{
    0%{opacity: 1;}
    20%{opacity: 1;}
    30%{opacity: 0;}
    90%{opacity: 0;}
    100%{opacity: 1;}
    
}




