*{
    margin: 0;
    padding: 0;
}

header{
    height: 90vh;
    background-image:url(../img_2.jpg) ;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

header > div{
    padding: 0px 0px 30px 30px;
}

header > div > h1{
    font-size: 78px;
}

header > div > p{
    font-size: 24px;
}